.ai-image-generator{
    width: fit-content;
    margin: auto;
    
}
.header {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 30px;
    color: #76298a;
}

body{
    background-color: rgb(127, 173, 173);
}

#imgg{
    height: 50vh;
    width: 30vw;
}

.img-loading{
    width: fit-content;
    margin: auto;
}
.img-loading img{
    width:512px;
}
.search-box{
    display: flex;
    width: 1000px;
    height: 95px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1F3540;
}
.search-input{
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color :white;
    padding-left: 35px;
    margin-right: 35px;
}
.search-input::placeholder{
    color: #999;

}

.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 85px;
    font-size: 20px;
    border-radius: 50px;
    background: #4a15c5;
    cursor:pointer;
}

